html, body {
    margin: 0;
    padding: 0;
}

#top{
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

#jung{
    background-color: white;
    padding: 0.2%;
    width: auto;
    font-size: 50px;
    margin-right: 25vw;
    cursor: pointer;
}

#freud{
    background-color: white;
    padding: 0.2%;
    width: auto;
    font-size: 50px;
    cursor: pointer;
}

.carousel-wrapper {
    max-width: 40vw; 
    margin: 0 auto;
}
  
.carousel-item img {
height: auto;
object-fit: cover; 
width: 100%;   
}

.iP{
    width: 35vw;
    font-size: 1vw;
}
